.none-margin {
  padding-bottom: 0; }

.about {
  color: #1e0602; }

.top-about_section .top-about_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.top-about_section .page-title {
  padding: 15px 0 20px 0; }

.top-about_section .left_content {
  width: 70%;
  padding-right: 20px; }

.top-about_section .left_content_text {
  font-size: 20px;
  line-height: 28px;
  margin-top: 2px;
  letter-spacing: 0; }

.top-about_section .left_content_title {
  font-size: 30px;
  margin: 0 0 10px; }

.top-about_section .right_content-img {
  width: 30%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .top-about_section .right_content-img img {
    width: 100%;
    max-width: 450px;
    height: auto; }

.about-pluses {
  margin-top: 40px; }
  .about-pluses .about-pluses_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: 0 -10px; }
  .about-pluses .block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 33.33%;
    padding: 0 10px;
    margin-top: 20px; }
    .about-pluses .block img {
      opacity: .4; }
    .about-pluses .block .txt {
      padding-left: 10px; }

.about-information {
  margin-top: 80px; }
  .about-information .about-information_text {
    font-size: 20px;
    line-height: 28px; }
    .about-information .about-information_text p {
      margin-bottom: 14px;
      line-height: 28px;
      margin-top: 0; }

.corporate_section {
  margin-top: 100px;
  margin-bottom: 90px; }
  .corporate_section .section_decoration,
  .corporate_section .section_decoration:before {
    display: block;
    -webkit-transform: rotate(-2deg);
        -ms-transform: rotate(-2deg);
            transform: rotate(-2deg);
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.25);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .corporate_section .section_decoration:before {
    content: '';
    -webkit-transform: rotate(4deg);
        -ms-transform: rotate(4deg);
            transform: rotate(4deg); }
  .corporate_section .section_container {
    position: relative;
    z-index: 2; }
  .corporate_section .corporate_section-content {
    padding: 40px;
    position: relative; }
    .corporate_section .corporate_section-content:before {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      background-color: #fff;
      -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.25);
              box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.25);
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }
  .corporate_section .top_section {
    position: relative; }
    .corporate_section .top_section .left_section {
      width: 100%;
      padding-right: 220px; }
    .corporate_section .top_section .title {
      font-size: 30px;
      line-height: 40px;
      color: #000;
      padding-bottom: 20px; }
    .corporate_section .top_section .subtext {
      font-size: 20px;
      line-height: 28px;
      max-width: 750px; }
    .corporate_section .top_section .logo {
      width: 200px;
      position: absolute;
      right: 0px;
      top: 0px; }
  .corporate_section .corporate_offer {
    padding-top: 40px; }
    .corporate_section .corporate_offer .button_section {
      margin-top: 20px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .corporate_section .corporate_offer .corporate_link {
      display: block;
      color: #fff;
      -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
              box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
      background: #3590ca;
      padding: 10px 20px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    .corporate_section .corporate_offer .title {
      font-size: 30px;
      line-height: 40px;
      color: #000;
      padding-bottom: 20px; }
    .corporate_section .corporate_offer .offer-item {
      width: 20%;
      padding: 0 10px;
      margin-bottom: 20px; }
    .corporate_section .corporate_offer .offer_block-content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      margin: 0 -10px; }
      .corporate_section .corporate_offer .offer_block-content h4.offer-item_title {
        font-size: 18px;
        margin: 0 0 8px; }
      .corporate_section .corporate_offer .offer_block-content p.offer-item_text {
        margin: 0;
        line-height: 150%; }
  .corporate_section .corporate_details {
    margin: 20px -40px -40px -40px;
    padding: 40px;
    background-color: #fafafa; }
    .corporate_section .corporate_details .opened i {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
    .corporate_section .corporate_details .right_section {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 50%; }
    .corporate_section .corporate_details .left_section {
      width: 33.33%; }
    .corporate_section .corporate_details .title {
      font-size: 30px;
      line-height: 40px;
      color: #000;
      padding-bottom: 20px;
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .corporate_section .corporate_details .title span {
        padding-left: 10px;
        padding-top: 1px; }
    .corporate_section .corporate_details i {
      opacity: 0; }
    .corporate_section .corporate_details .corporate_details-columns {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .corporate_section .corporate_details .column {
      margin-top: 15px; }
    .corporate_section .corporate_details .last {
      margin-top: 12px; }
    .corporate_section .corporate_details .last p {
      line-height: 1.8em; }
    .corporate_section .corporate_details .phones_wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end; }
      .corporate_section .corporate_details .phones_wrapper a {
        display: block;
        margin-bottom: 4px;
        color: #585858; }
    .corporate_section .corporate_details .column-details_mail span {
      padding-right: 10px; }
    .corporate_section .corporate_details .column-details_numbers {
      margin: 15px 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .corporate_section .corporate_details .column-details_numbers span {
        padding-right: 10px; }
    .corporate_section .corporate_details .column-details_text p {
      margin: 0;
      margin-bottom: 10px; }

.map_wrapper {
  height: 530px;
  position: relative; }
  .map_wrapper iframe {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: none; }

.buttons {
  margin-top: 15px; }
  .buttons button {
    height: 40px;
    display: block;
    width: 100%;
    margin-top: 8px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer; }
    .buttons button:first-child {
      border: none;
      background: #ffcc33;
      color: #1e0602; }
    .buttons button:last-child {
      border: 1px solid #e5e5e5;
      color: #818181; }

.b-map-office__container {
  position: relative; }

.b-map-office__cart {
  display: none; }

.b-map-office__cart-title {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 10px;
  line-height: 1.35em; }

.b-map-office__cart-address {
  margin-bottom: 15px; }

.b-map-office__cart-img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  cursor: pointer; }

.b-map-office__cart-link-gallery {
  max-height: 180px;
  overflow: hidden;
  display: block;
  margin: 0 auto 18px; }

.b-map-office__cart-phone,
.b-map-office__cart-work {
  margin-bottom: 7px; }

.b-map-office__cart-feedback {
  margin: 15px 0 0; }

.b-map-office__cart-contacts {
  margin: 10px 0 0; }

.b-map-office__cart-modal {
  padding: 0 !important;
  max-width: 400px; }

.b-map-office__cart-modal .b-modal__header {
  height: 50px;
  line-height: 50px;
  padding: 0 30px 0 20px;
  border-width: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: table;
  width: 100%; }

.b-map-office__cart-modal .b-modal__main {
  padding: 18px;
  position: relative;
  text-align: left; }

.b-map-office__cart-modal-title {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  padding-right: 20px;
  vertical-align: middle;
  display: table-cell;
  text-align: left; }

.b-map-office__cart-shoowrom {
  color: #fe8000; }

.b-map-office__cart-shoowrom,
.b-map-office__cart-shop {
  display: inline-block;
  border: 1px solid;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  padding: 2px 5px;
  margin: 0 5px 0 0; }

.b-map-office__cart-shop {
  color: #9dc200; }

.b-map-office__cart-support {
  display: inline-block;
  color: #0094ce;
  border: 1px solid;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  padding: 2px 5px; }

.b-map-office__cart-info {
  margin: 0 0 20px;
  text-transform: uppercase;
  font-size: 12px; }

.b-map-office__cart-modal-close {
  position: absolute;
  z-index: 1000;
  right: 16px;
  top: 16px;
  width: 16px;
  height: 16px;
  border: none;
  opacity: .4;
  cursor: pointer;
  -webkit-transition: opacity .08s ease;
  -o-transition: opacity .08s ease;
  transition: opacity .08s ease;
  outline: none; }

.b-map-office__cart-modal-close:focus,
.b-map-office__cart-modal-close:hover {
  opacity: 1; }

.b-map-office__cart-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.b-map-office__marker {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
      transform: scale(1); }

.b-map-office__marker--small {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
      transform: scale(0.8); }

.choise_item-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 -10px -20px -10px; }
  .choise_item-list .item-content {
    background: #fff;
    border: 1px solid #e5e5e5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .choise_item-list .img_section {
    overflow: hidden;
    position: relative;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    height: 204px;
    min-width: 204px; }
    .choise_item-list .img_section img {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: auto;
      display: block; }
  .choise_item-list .title_section {
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    color: #1e0602;
    padding: 20px 0 20px 20px; }
  .choise_item-list .choise-item {
    padding: 0 10px;
    margin-bottom: 20px;
    width: 50%; }

.choise-category-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .choise-category-heading .text-section {
    padding: 0 20px;
    font-size: 20px;
    color: #1e0602;
    width: 68%; }
  .choise-category-heading .image-section {
    width: 32%;
    padding-left: 20px;
    min-width: 250px; }
  .choise-category-heading .sub-title {
    display: inline-block;
    font-style: italic;
    margin-top: 15px; }
  .choise-category-heading .block-img {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15); }
    .choise-category-heading .block-img img {
      width: 100%;
      height: auto; }

.about-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .about-section p {
    margin-top: 0; }
  .about-section .text-block {
    padding: 0 20px;
    font-size: 20px;
    color: #1e0602;
    width: 68%; }
  .about-section .img-block {
    width: 32%;
    min-width: 250px; }
    .about-section .img-block img {
      width: 100%;
      height: auto; }

.choise_tab-container .more_link {
  display: block;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #78a1b3;
  padding: 11px 0;
  text-align: center;
  color: #fff;
  margin-top: 10px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.choise_tab-container .tab_heading-block {
  padding: 15px;
  border: 1px solid #e6e6e6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.choise_tab-container .category_nav-item {
  margin: 5px;
  background-color: #fff;
  color: #585858;
  border: 1px solid #e5e5e5;
  padding: 15px 28px;
  cursor: pointer; }

.choise_tab-container .active {
  background-color: #1e0602 !important;
  border-color: #1e0602;
  color: #fff;
  font-weight: bold;
  cursor: default; }

.choise_tab-container .tab_content_container {
  background-color: #fff;
  padding: 40px;
  border: 1px solid #e5e5e5;
  border-top: none; }

.choise_tab-container .tab-section .tab-title {
  margin-bottom: 30px; }

.choise_tab-container .tab-section .tab-title p {
  color: #1e0602;
  margin: 0;
  font-size: 20px;
  line-height: 1.35em; }

.tab_categories_content .img_block {
  position: relative; }
  .tab_categories_content .img_block:before {
    content: "";
    display: block;
    padding-top: 100%; }
  .tab_categories_content .img_block .img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden; }
    .tab_categories_content .img_block .img img {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 100%;
      height: auto; }

.tab_categories_content .category_block_container {
  border: 1px solid #e5e5e5;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  margin-bottom: 20px;
  background-color: #fff; }

.tab_categories_content .img_container {
  padding: 20px;
  position: relative; }
  .tab_categories_content .img_container a {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    white-space: nowrap;
    text-decoration: none;
    background-color: #ffcc33;
    padding: 12px 22px;
    font-size: 16px;
    color: #1e0602;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    opacity: 0; }

.tab_categories_content .category_title_block {
  padding: 15px 20px;
  border-bottom: 1px solid #e5e5e5; }
  .tab_categories_content .category_title_block .category_title {
    font-size: 14px;
    font-weight: bold;
    color: #1e0602; }
  .tab_categories_content .category_title_block .count {
    font-size: 12px;
    font-weight: normal;
    color: #bfbfbf;
    margin-left: 0.2em; }

.delivery-content [data-balloon][data-balloon-pos='down']:after {
  width: 200px;
  white-space: pre-line;
  text-align: left;
  line-height: 150%; }

.delivery-content .delivery-map {
  height: 400px;
  width: 100%; }
  .delivery-content .delivery-map iframe {
    width: 100%;
    height: 100%;
    border: 1px solid #e5e5e5; }

.delivery-content .variable-section {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  padding: 40px; }

.delivery-content .variable-title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  color: #1e0602; }

.delivery-content .input-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px; }

.delivery-content .form-group {
  width: 100%;
  max-width: 800px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .delivery-content .form-group label {
    display: inline-block;
    padding-right: 12px;
    padding-bottom: 9px;
    width: 132px;
    text-align: right;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    color: #1e0602; }

.delivery-content #button {
  white-space: nowrap;
  background-color: #ffcc33;
  border: none;
  padding: 9px 25px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin-left: 10px; }

.delivery-content .deactive span {
  opacity: .4; }

.delivery-content #text {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  background-color: #fff;
  border: 1px solid #ccc;
  color: #1e0602;
  height: 34px;
  padding: 8px 12px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  width: 100%; }

.delivery-content .delivery-description {
  text-align: center;
  color: #a6a6a6; }
  .delivery-content .delivery-description a {
    border-bottom: 1px dotted;
    color: #585858;
    cursor: pointer; }

ul.categories_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.categories_list a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    white-space: nowrap;
    margin: 5px 12px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    ul.categories_list a span {
      display: inline-block;
      border-bottom: 1px dotted #585858;
      font-size: 18px;
      font-weight: bold; }
  ul.categories_list li {
    -webkit-border-radius: 4px;
            border-radius: 4px;
    margin: 0 3px 4px 3px;
    position: relative;
    height: auto;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    ul.categories_list li:before {
      content: "";
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      position: absolute;
      bottom: -5px;
      left: 50%;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      margin-left: -5px;
      border-width: 5px 5px 0; }
  ul.categories_list .active_nav_link {
    background-color: #000; }
    ul.categories_list .active_nav_link a {
      margin: 0;
      padding: 5px 12px; }
      ul.categories_list .active_nav_link a span {
        color: #fff !important;
        border-color: transparent !important; }
    ul.categories_list .active_nav_link:before {
      border-top-color: #000; }

.dropable-info {
  margin-top: 40px; }
  .dropable-info .tab-container {
    padding-top: 40px; }
  .dropable-info .option-button {
    font-size: 16px;
    width: 160px;
    height: 40px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    border: 1px solid #e5e5e5;
    color: #818181;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    right: 40px;
    top: 40px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .dropable-info .delivery-list {
    position: relative;
    padding: 40px;
    border: 1px solid #e5e5e5;
    margin-bottom: 20px; }
    .dropable-info .delivery-list:last-child {
      margin-bottom: 0; }
    .dropable-info .delivery-list .block-title {
      font-size: 30px;
      color: #1e0602;
      margin-bottom: 10px; }
    .dropable-info .delivery-list .block-table_section:first-child {
      width: 38%; }
    .dropable-info .delivery-list .block-table_section:nth-child(2), .dropable-info .delivery-list .block-table_section:nth-child(4) {
      width: 20%;
      min-width: 180px; }
    .dropable-info .delivery-list .block-table_section:nth-child(3) {
      width: 22%;
      min-width: 200px; }
    .dropable-info .delivery-list .section-content {
      padding-top: 21px;
      border-top: 1px solid #e6e6e6; }
      .dropable-info .delivery-list .section-content .top-text {
        color: #1e0602;
        padding-top: 3px;
        display: inline-block;
        padding-right: 10px;
        display: block; }
      .dropable-info .delivery-list .section-content .sub_adress {
        display: block;
        margin-top: 5px;
        padding-right: 10px; }
      .dropable-info .delivery-list .section-content .icons-container {
        font-size: 16px;
        color: #1e0602; }
        .dropable-info .delivery-list .section-content .icons-container span {
          cursor: default !important;
          display: inline-block;
          margin-right: 10px; }
      .dropable-info .delivery-list .section-content .price-container {
        font-size: 18px;
        font-weight: 700;
        color: #1e0602; }
    .dropable-info .delivery-list .block-table .table-row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding-top: 21px; }
      .dropable-info .delivery-list .block-table .table-row:first-child .section-title {
        display: block; }
      .dropable-info .delivery-list .block-table .table-row:first-child .section-content {
        border-top: none; }
    .dropable-info .delivery-list .block-table .section-title {
      display: none;
      font-size: 14px;
      text-transform: uppercase;
      padding: 0 0 16px;
      border-bottom: 1px solid #e6e6e6; }

#modal-popup-delivery {
  max-width: 600px; }
  #modal-popup-delivery .form-group {
    margin: 0 -10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px; }
  #modal-popup-delivery .variable-button {
    border: 1px solid #e5e5e5;
    height: 70px;
    width: 50%;
    margin: 0 10px;
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  #modal-popup-delivery .variable-close {
    cursor: pointer;
    display: block;
    width: 160px;
    height: 40px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    border: none;
    background: #ffcc33;
    margin: 0 auto;
    margin-top: 30px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  #modal-popup-delivery .modal_title {
    font-size: 18px;
    font-weight: bold; }
  #modal-popup-delivery .modal-content {
    padding: 30px 20px; }
  #modal-popup-delivery .option-price {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #1e0602; }

.delivery-rules {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  margin-top: 40px; }
  .delivery-rules .delivery-rules-title {
    padding: 40px;
    text-align: center;
    color: #1e0602;
    font-size: 30px;
    border-bottom: 1px solid #e5e5e5; }
  .delivery-rules .tab-selector_block {
    padding: 40px 0 35px 0; }
    .delivery-rules .tab-selector_block span {
      font-size: 14px;
      font-weight: normal; }
  .delivery-rules .tab-container {
    padding: 0 40px 40px 40px; }
    .delivery-rules .tab-container ol {
      margin: 0;
      padding-left: 25px; }
    .delivery-rules .tab-container li {
      margin: 0 0 10px;
      line-height: 1.35;
      color: #1e0602; }
      .delivery-rules .tab-container li:last-child {
        margin: 0; }

.payment-variable-container {
  margin: 0 -10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  color: #1e0602;
  margin-bottom: -20px; }
  .payment-variable-container .text-heading {
    font-weight: bold; }
  .payment-variable-container .icon-section {
    width: 80px;
    height: 80px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #fafafa;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px; }
  .payment-variable-container .block-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px; }
  .payment-variable-container .payment-block {
    width: 25%;
    padding: 0 10px;
    margin-bottom: 20px; }
  .payment-variable-container .text {
    margin-top: 0;
    margin-bottom: 8px; }
  .payment-variable-container .block-content {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    padding: 30px 20px 20px 20px; }
  .payment-variable-container .icon-section i {
    font-size: 40px; }

.note-list {
  padding-left: 20px;
  width: 300px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin-bottom: -20px; }

.stick-container {
  position: relative; }

.stick {
  margin-bottom: 20px;
  color: #8d8d8d; }
  .stick .stick-content {
    padding: 40px; }

.style1 .stick-content {
  border: 1px solid #e5e5e5; }

.style1 .stick-container:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 3;
  height: 1px;
  width: 43px;
  background-color: #e5e5e5;
  right: -6px;
  top: 15px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.style1 .stick-container:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  background: #fff;
  top: 0;
  right: 0;
  height: 31px;
  width: 31px;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5; }

.style1 .stick-title {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 700;
  color: #f66069; }

.style2 ul {
  padding-left: 18px;
  margin-bottom: 0; }

.style2 li {
  margin-bottom: 10px; }
  .style2 li:last-child {
    margin-bottom: 0; }

.style2 .stick-title {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 700;
  color: #1e0602; }

.style2 .stick-container:before {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  border-color: #f7ebcd #fff;
  border-style: solid;
  border-width: 0 30px 30px 0; }

.style2 .stick-content {
  background-color: #fff6d5; }

.warrantly {
  color: #1e0602; }
  .warrantly p {
    margin-top: 0; }
    .warrantly p:last-child {
      margin-bottom: 0; }
  .warrantly .tab-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .warrantly .left-text-section {
    width: 100%; }
    .warrantly .left-text-section .tab-title {
      display: block;
      font-weight: bold;
      margin-bottom: 7px; }
    .warrantly .left-text-section .list-title {
      display: block;
      font-weight: bold;
      margin-bottom: 4px; }
    .warrantly .left-text-section ul {
      margin: 0; }
  .warrantly .tab-selector_block {
    margin-bottom: 20px; }
  .warrantly ul.categories_list {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .warrantly .info-tab-container {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    padding: 40px;
    margin-bottom: 40px; }
  .warrantly a {
    margin-top: 10px;
    display: inline-block; }

.clients {
  color: #1e0602; }
  .clients .feedback-form {
    border: 1px solid #e5e5e5;
    margin-top: 40px; }
  .clients form {
    padding: 50px 100px; }
  .clients .add-photo {
    cursor: pointer;
    border: none;
    background-color: #78a1b3;
    -webkit-border-radius: 1px solid #95b5c3;
            border-radius: 1px solid #95b5c3;
    padding: 12px 20px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    color: #fff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .clients .top-input,
  .clients .textarea {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: #fff;
    border: 1px solid #ccc;
    color: #555;
    height: 34px;
    padding: 8px 12px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    font-size: 14px;
    line-height: 1.4;
    width: 50%;
    margin: 0 5px; }
  .clients .description {
    color: #555;
    padding-left: 5px; }
  .clients .feedback-note {
    margin: 20px 0;
    text-align: center; }
  .clients .submit {
    cursor: pointer;
    display: block;
    border: none;
    background: #ffcc33;
    padding: 12px 20px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    margin: 0 0 0 auto; }
  .clients .textarea {
    width: 100%;
    margin: 0;
    height: 100px;
    resize: none; }
  .clients .form-group:first-child {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .clients .form-group:nth-child(2) {
    padding: 0 5px;
    margin-top: 10px; }
  .clients .form-group:nth-child(3) {
    padding: 0 5px;
    margin-top: 20px; }
  .clients .form-group:last-child {
    padding: 0 5px; }
  .clients .form-heading {
    padding: 20px;
    background-color: #fafafa;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid #e5e5e5; }
  .clients .feedback-block {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    padding: 40px; }
  .clients .text-section {
    width: 100%; }
    .clients .text-section ul {
      margin-top: 0; }
    .clients .text-section ul li {
      font-size: 20px;
      margin-bottom: 5px; }
      .clients .text-section ul li:last-child {
        margin-bottom: 0; }
  .clients .block-title {
    font-size: 30px;
    margin-bottom: 15px; }
  .clients .block-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.agreement .with_sidebar-container {
  margin-bottom: 0; }

.terms-container p {
  margin-top: 0;
  margin-bottom: 0.3em;
  color: #1e0602; }

.terms-container b {
  color: #1e0602;
  display: inline-block; }

.terms-container .terms-list-header {
  padding-top: 20px; }

.terms-container ol {
  counter-reset: item;
  list-style-position: inside;
  list-style-type: none; }
  .terms-container ol li {
    line-height: 140%; }
    .terms-container ol li:before {
      content: counters(item, ".") ". ";
      counter-increment: item; }

.terms-container .terms-content {
  margin-top: 20px;
  padding: 0; }
  .terms-container .terms-content ol {
    margin: 12px 0;
    padding: 0;
    margin-left: 20px; }

.terms-container .terms-list {
  margin: 12px 0;
  padding: 0;
  counter-reset: item;
  list-style-position: inside; }
  .terms-container .terms-list a {
    color: #585858; }
  .terms-container .terms-list li {
    margin: 5px 0; }

@media all and (min-width: 1025px) {
  .buttons button:first-child:hover,
  .clients .submit:hover {
    background-color: #ffdd7d; }
  .corporate_section .corporate_offer .corporate_link:hover {
    background: #6dafd9; }
  .buttons button:last-child:hover {
    color: #1d1d1d;
    border-color: #999999; }
  .choise_tab-container .more_link:hover,
  .clients .add-photo:hover {
    background-color: #7eb8d2;
    border-color: #7eb8d2; }
  .about-section a span:hover,
  .delivery-content .delivery-description a:hover,
  .tab-block li a:hover,
  .warrantly a:hover,
  .terms-container .terms-list a:hover {
    color: #3590ca; }
  ul.categories_list a:hover span {
    color: #3590ca;
    border-color: #3590ca; }
  .choise_item-list .item-content:hover {
    -webkit-box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.2);
            box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.2); }
  .choise_tab-container .category_nav-item:hover {
    background-color: #fafafa; }
  .tab_categories_content .category_block_container:hover {
    -webkit-box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.2);
            box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.2); }
    .tab_categories_content .category_block_container:hover .brand_name {
      color: #3590ca; }
    .tab_categories_content .category_block_container:hover a {
      opacity: 1; }
  .tab_categories_content .img_container a:hover {
    background-color: #ffdd7d; }
  .dropable-info .option-button:hover,
  #modal-popup-delivery .variable-button:hover {
    color: #1d1d1d;
    border-color: #999999; }
  #modal-popup-delivery .variable-close:hover {
    background-color: #ffdd7d; } }

@media all and (max-width: 1025px) {
  .choise_tab-container .img_container a {
    opacity: 1;
    padding: 8px 14px; } }

@media screen and (min-width: 1200px) {
  .b-map-office__cart {
    right: 100px; }
  .b-map-office__cart-wrap {
    left: 50%;
    width: 1180px;
    margin-left: -590px; } }

@media all and (max-width: 1200px) {
  .about-information .about-information_text p {
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 5px; }
  .about-information,
  .corporate_section {
    margin-top: 80px; }
  .about-information .years .title,
  .about-information .stars .title,
  .about-information .catalog .title {
    font-size: 48px; }
  .about-information .years .text,
  .about-information .stars .text,
  .about-information .catalog .text {
    font-size: 22px; }
  .corporate_section .container {
    padding: 0 40px; }
  .corporate_section .top_section .title,
  .corporate_section .corporate_offer .title,
  .corporate_section .corporate_details .title {
    font-size: 26px; }
  .corporate_section .top_section .subtext {
    font-size: 14px;
    line-height: 150%; }
  .corporate_section .corporate_offer .title {
    padding-bottom: 15px; }
  .corporate_section .corporate_offer {
    padding-top: 30px; }
  .corporate_section .top_section .logo {
    height: 50px;
    width: auto; }
  .logo img {
    height: 100%;
    width: auto; }
  .corporate_section .top_section .left_section {
    padding-right: 0; }
  .corporate_section .top_section .subtext {
    max-width: 100%; }
  .top-about_section .left_content_title {
    font-size: 26px; }
  .top-about_section .left_content_text {
    font-size: 14px; }
  .top-about_section .left_content_text {
    line-height: 150%; }
  .top-about_section .left_content {
    width: 75%; }
  .top-about_section .right_content-img {
    width: 25%; }
  .choise_item-list .img_section {
    min-width: 150px;
    height: 152px; }
  .payment-variable-container .payment-block {
    width: 50%; } }

@media all and (max-width: 992px) {
  .corporate_section .corporate_details .right_section {
    width: 66.66%; }
  .about-information .years .text,
  .about-information .stars .text,
  .about-information .catalog .text {
    font-size: 18px; }
  .corporate_section .corporate_offer .offer-item {
    width: 33.33%; }
  .choise-category-heading .text-section,
  .about-section .text-block {
    padding: 0; }
  .about-section .img-block {
    padding-left: 20px; }
  .dropable-info .delivery-list .block-table .table-row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    border-top: 1px solid #e5e5e5;
    margin-bottom: 20px; }
    .dropable-info .delivery-list .block-table .table-row:first-child {
      border-top: none; }
    .dropable-info .delivery-list .block-table .table-row:last-child {
      margin-bottom: 0; }
  .dropable-info .delivery-list .block-table_section {
    width: 100% !important;
    margin-bottom: 15px; }
    .dropable-info .delivery-list .block-table_section:last-child {
      margin-bottom: 0; }
  .dropable-info .delivery-list .block-table .section-title {
    border-bottom: none;
    display: block;
    padding: 0;
    width: 140px;
    padding-top: 3px;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0; }
  .dropable-info .delivery-list .section-content {
    padding: 0;
    border: none; }
  .dropable-info .delivery-list .block-table_section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

@media all and (min-width: 768px) {
  .b-map-office,
  .p-about-b-map {
    height: 530px; }
  .b-map-office__cart {
    padding: 15px 20px 20px;
    display: block;
    width: 280px;
    position: absolute;
    z-index: 2;
    top: 40px;
    right: 32px;
    background: #fff;
    -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 3px;
            border-radius: 3px; } }

@media all and (max-width: 767px) {
  .clients .stick {
    width: 100%;
    margin: 0;
    padding: 0; }
  .clients .note-list {
    padding-top: 10px;
    width: 100%;
    margin: 0; }
  .clients .form-group {
    padding: 0 !important; }
  .clients .form-group:nth-child(2) {
    margin-top: 0; }
  .clients .top-input {
    width: 100%;
    margin: 0 0 10px 0; }
  .clients .form-group:first-child {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .clients form {
    padding: 40px; }
  .clients .block-title {
    font-weight: bold;
    font-size: 18px; }
  .clients .text-section ul li {
    font-size: 14px; }
  .warrantly .tab-block,
  .clients .block-content {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .note-list {
    padding: 0;
    padding-top: 30px;
    width: auto;
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: 0 -10px -20px -10px; }
  .stick {
    width: 50%;
    padding: 0 10px; }
  .corporate_section .corporate_details .right_section {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .corporate_section .corporate_details i {
    opacity: 1; }
  .corporate_section .corporate_details .column {
    margin-top: 0; }
  .left_section,
  .corporate_section .corporate_details .right_section {
    width: 50% !important; }
  .right_section .column {
    width: 100% !important; }
  .corporate_section .corporate_details {
    margin: 20px -15px 0 -15px;
    padding: 0;
    background-color: #fff; }
  .corporate_section .corporate_details .title {
    padding: 20px 15px; }
  .corporate_section .corporate_details .corporate_details-columns {
    padding: 0 15px 20px 15px; }
  .dropdown_content {
    display: none; }
  .about-information .digits {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .about-information .digits {
    padding-bottom: 30px; }
  .about-information .about-information_text {
    padding: 0; }
  .about-information .years .title,
  .about-information .stars .title,
  .about-information .catalog .title {
    font-size: 35px; }
  .about-pluses .block {
    width: 50%; }
  .about-pluses .about-pluses_content {
    padding: 0; }
  .corporate_section .corporate_offer .offer-item {
    padding: 0; }
  .corporate_section .corporate_offer .offer_block-content {
    margin: 0 -15px;
    background-color: #fff;
    padding: 15px; }
  .corporate_section .container {
    padding: 0 15px; }
  .corporate_section .section_decoration,
  .corporate_section .section_decoration:before {
    display: none; }
  .corporate_section .corporate_section-content {
    padding: 0; }
  .slick-dots {
    margin-top: 20px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    margin-bottom: 0; }
  .slick-dots li {
    font-size: 0;
    line-height: 0;
    display: inline-block;
    vertical-align: top;
    margin: 0 6px; }
  .slick-dots li.slick-active button {
    background-color: #ffc600;
    border: none; }
  .slick-dots button {
    border: none;
    background-color: #afafaf;
    width: 10px;
    height: 10px;
    vertical-align: top;
    display: block;
    font-size: 0;
    padding: 0;
    cursor: pointer;
    -webkit-border-radius: 5px;
            border-radius: 5px; }
  .corporate_section .corporate_offer .offer-item {
    margin-bottom: 0; }
  .corporate_section .corporate_section-content:before {
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .corporate_section .top_section .title,
  .corporate_section .corporate_offer .title,
  .corporate_section .corporate_details .title {
    font-size: 18px;
    line-height: 100%;
    font-weight: bold;
    color: #1e0602; }
  .corporate_section .top_section .logo {
    display: none; }
  .corporate_section .corporate_offer .offer_block-content h4.offer-item_title {
    font-size: 16px; }
  .top-about_section .left_content_title {
    font-size: 20px;
    font-weight: bold; }
  .top-about_section .right_content-img {
    display: none; }
  .top-about_section .left_content {
    width: 100%; }
  .delivery-content .variable-section {
    border: none;
    padding: 0;
    background-color: transparent; }
  .top-form_section,
  .delivery-map {
    border: 1px solid #e5e5e5;
    padding: 30px 20px;
    background-color: #fff; }
  .dropable-info .delivery-list {
    background-color: #fff;
    padding: 20px; }
  .dropable-info .delivery-list .block-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold; }
  .dropable-info .option-button {
    position: relative;
    right: auto;
    top: auto;
    width: 100%;
    margin-top: 20px; }
  .dropable-info .tab-container {
    padding-top: 20px; }
  .choise-category-heading .text-section,
  .choise_tab-container .tab-section .tab-title p,
  .about-section .text-block {
    font-size: 14px;
    line-height: 150%; }
  .choise_tab-container .tab_content_container {
    padding: 30px 20px; }
  .choise_item-list .choise-item {
    width: 100%; }
  .choise_item-list .img_section {
    height: 204px;
    min-width: 204px; }
  .delivery-content .form-group label {
    display: none; }
  .delivery-content .form-group {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .delivery-content #text,
  .delivery-content #button {
    width: 100%; }
  .delivery-content #button {
    margin-left: 0;
    margin-top: 10px; }
  .delivery-content .input-section {
    margin-bottom: 15px; }
  .delivery-content .variable-title {
    font-size: 18px;
    margin-bottom: 25px; }
  .delivery-rules .delivery-rules-title {
    font-size: 18px;
    font-weight: bold;
    padding: 20px 0; }
  .delivery-rules .tab-selector_block {
    padding: 30px 0 20px 0; }
  .delivery-rules .tab-container {
    padding: 0 20px 30px 20px; } }

@media all and (max-width: 576px) {
  .clients .feedback-block {
    padding: 20px 0; }
  .stick {
    width: 100%; }
  .warrantly ul.categories_list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .clients .block-content,
  .clients .block-title {
    padding: 0 15px; }
  .clients .form-heading {
    border-top: 1px solid #e5e5e5; }
  .clients .feedback-form {
    border: none; }
  .clients form {
    padding: 15px; }
  .clients .description {
    display: block;
    text-align: center;
    margin-top: 5px; }
  .clients .add-photo,
  .clients .submit {
    width: 100%; }
  .note-list {
    margin: 0 -10px -20px -10px; }
  .warrantly .info-tab-container {
    padding: 20px 15px; }
  .map_wrapper {
    height: 300px; }
  .corporate_section .corporate_offer .corporate_link {
    text-align: center; }
  .corporate_section .corporate_details .corporate_details-columns {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .left_section,
  .corporate_section .corporate_details .right_section {
    width: 100% !important; }
  .left_section {
    margin-bottom: 25px; }
  .corporate_section .corporate_details .corporate_details-columns {
    padding-bottom: 10px; }
  .about-information .years,
  .about-information .stars,
  .about-information .catalog {
    width: 100%; }
  .about-information,
  .corporate_section {
    margin-top: 60px; }
  .corporate_section {
    margin-bottom: 60px; }
  .about-information .years,
  .about-information .stars {
    margin-bottom: 20px; }
  .about-pluses .block {
    width: 100%; }
  .payment-variable-container .payment-block {
    width: 100%; }
  ul.categories_list {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    ul.categories_list li {
      margin-bottom: 10px; }
  .delivery-rules .tab-selector_block {
    padding-bottom: 10px; }
  .dropable-info .delivery-list .block-table_section {
    display: block; }
  .dropable-info .delivery-list .block-table .section-title {
    width: 100%; }
  .dropable-info .delivery-list .section-content {
    padding-top: 4px; }
  .choise_tab-container .tab_content_container {
    padding: 0;
    border: none;
    background-color: transparent; }
  .choise-category-heading .image-section,
  .about-section .img-block {
    display: none; }
  .choise-category-heading .text-section,
  .about-section .text-block {
    width: 100%; }
  .choise_tab-container .tab_heading-block {
    padding: 0;
    border: none;
    margin: 0 -5px 15px -5px; }
  .choise_tab-container .category_nav-item {
    padding: 15px; }
  .choise_item-list .img_section {
    min-width: 124px;
    height: 124px; }
  .choise_tab-container .tab-section .tab-title {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    margin-bottom: 15px; }
  .choise_tab-container .tab_heading-block {
    margin-bottom: 25px; }
  .tab_categories {
    padding-top: 15px; } }
