ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile_sort {
    display: none;
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    &:before {
            content: "";
            position: absolute;
            right: 10px;
            top: 50%;
            margin-top: -4px;
            transform: rotate(180deg);
            z-index: 2;
            display: block;
            width: 10px;
            height: 8px;
            opacity: 0.9;
            background: url(../images/filter_arr.png);
            background-size: contain;
        }
    .mobile_list {
        position: relative;
        display: block;
        box-shadow: inset 0px 1px 1px -1px rgba(213, 213, 213, 1);
        width: 100%;
        border: 1px solid #d5d5d5;
        padding: 10px 7px;
        border-radius: 4px;
        appearance: none !important;
        background-color: #fff;
        span {
            display: block;

        }
        option {
            display: block !important;
            background-color: #fff;
            display: block;
            &:focus {
                border-radius: 4px 4px 0 0;
            }
        }
    }
}

.filter_show_btn {
    cursor: pointer;
    width: 100%;
    border: none;
    background-color: #78a1b3;
    border-radius: 1px solid #95b5c3;
    height: 40px;
    margin: 0px 10px;
    margin-bottom: 30px;
    border-radius: 3px;
    color: #fff;
    transition: .3s;
    display: none;
}

// banner top
.card_banner_box {
    margin-top: 0;
    margin-bottom: 20px;
}

.brand_country {
    .content_title {
        font-size: 18px;
        color: #1e0602;
        font-weight: bold;
        padding-top: 25px;
        padding-bottom: 20px;
        display: block;
    }
    .all_collections_content {
        border: 1px solid #e5e5e5;
        padding: 25px 40px;
        background-color: #fff;
        ul {
            margin: 0;
            padding: 0;
            margin: 0px -40px -25px -40px;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
        }
        li {
            width: 12.5%;
            text-align: center;
            margin-bottom: 20px;
            a {
                color: #585858;
                position: relative;
                &:hover .droppable_preview {
                    opacity: 1;
                    visibility: visible;
                    transform: translate3d(0, 0, 0) scale(1) rotateX(0);
                }
            }
        }
    }
}
.product_slider {
    margin-top: 40px;
}
.sort-line {
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
    .sort-line-content {
        border: 1px solid #e5e5e5;
        background: #fff;
        height: 50px;
        display: flex;
    }
    .section {
        display: flex;
        border-right: 1px solid #e5e5e5;
        align-items: center;
        justify-content: center;
        width: 6%;
        overflow: hidden;
        position: relative;
        transition: 0.6s ease;
    }
    a.static {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        //display: none;
    }
    .linage {
        width: 11%;
        border-right: 0;
        justify-content: center;
        .list,
        .block {
            width: 16px;
            height: 16px;
            margin: 0 10px;
        }
        .list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 18px;
            span {
                display: block;
                background-color: #d9d9d9;
                height: 2px;
                width: 100%;
            }
        }
        .block {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            span {
                display: block;
                background-color: #d9d9d9;
                height: 7px;
                width: 7px;
                position: relative;
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: -9px;
                    height: 7px;
                    width: 7px;
                    background-color: inherit;
                }
            }
        }
        .place {
            width: 14px;
            height: 19px;
            background: url(../images/icons/icon_place.png) no-repeat center center;
            margin: 0 10px;
        }
    }
    ul.link_list {
        display: flex;
        a {
            display: block;
            text-align: center;
            width: 12px;
            margin: 0 -10px;
            opacity: 0;
            transition: margin .6s ease, opacity .5s ease;
            color: #585858;
        }
        li {
            overflow: hidden;
        }
        li:first-child {
            overflow: visible;
            a {
                opacity: 1;
                margin: 0 3px;
                position: relative;
                &:after {
                    content: '−';
                    position: absolute;
                    top: 50%;
                    right: 0px;
                    transform: translate(100%, -50%);
                    opacity: 1;
                    visibility: visible;
                    transition: .6s ease;
                }
            }
        }
        li:last-child {
            a {
                opacity: 1;
                margin: 0 3px;
                position: relative;
            }
        }
    }
    .active_section {
        width: 71%;
        .static {
            display: none;
        }
        .link_list a {
            margin: 0 3px !important;
            opacity: 1;
        }
        li:first-child a:after {
            opacity: 0 !important;
            visibility: hidden !important;
        }
    }
}

.more_cards_btn {
    cursor: pointer;
    width: 100%;
    border: none;
    background-color: #78a1b3;
    border-radius: 1px solid #95b5c3;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    transition: .3s;
    margin: 30px 0;
}


.brand_country {
    margin-bottom: 30px;
}

.bottom_line {
    display: block;
    height: 1px;
    width: 100%;
    background-color: #e8e8e8;
    margin-top: 20px;
    margin: 40px 0;
}

.popular_cat_block {
    margin: 40px 0;
    ul {
        display: flex;
        border: 1px solid #e6e6e6;
        background-color: #fff;
        width: 100%;
        padding: 40px 5px;
        li {
            width: 16.66%;
            padding: 0 35px;
        }
        .content_block {
            position: relative;
        }
        .content_block::before {
            content: "";
            display: block;
            padding-top: 90%;
        }
        a {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 0.5;
            transition: .3s;
            &:hover {
                opacity: 1;
            }
        }
        img {
            width: 100%;
        }
        p {
            text-align: center;
            margin: 0;
        }
    }
}

.banner_block {
    margin: 40px 0;
}

.current_category {
    display: none;
}

.brand_list_container {
    margin: -10px -10px;
    column-count: 3;
    column-gap: 0px;
    .list_block_content {
        padding: 10px;
        display: inline-block;
        width: 100%;
    }
    .item_sign {
        font-size: 16px;
        font-weight: bold;
        line-height: 100%;
        padding-right: 17px;
        color: #1e0602;
    }
    .list_block {
        border: 1px solid #e5e5e5;
        padding: 20px;
        display: flex;
        background-color: #fff;
    }
    li {
        margin-bottom: 5px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    li a {
        font-size: 14px;
        color: #585858;
    }
}

.single_v {
    display: none;
    column-count: 1 !important;
    column-width: 100%;
    .item_sign {
        display: none;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    li {
        width: 20%;
        text-align: center;
        padding: 1px 10px;
    }
}

.cards_v {
    display: none;
    column-count: 1 !important;
    column-width: 100% !important;
    .list_block {
        background: none;
        border: none;
        padding: 0;
        margin: 0 -10px;
    }
    ul {
        display: flex;
        width: 100%;
        margin: 0;
        margin: -10px 0;
        li {
            margin: 0;
            padding: 10px;
        }
    }
    .link_container {
        position: relative;
        display: block;
        &:after {
            content: '';
            display: block;
            padding-top: 100%;
        }
        a {
            position: absolute;
            transition: .3s;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            border: 1px solid #e5e5e5;
            background-color: #fff;
            padding: 30px;
            text-decoration: none !important;
        }
        .img_block {
            display: block;
            height: 65%;
            img {
                height: 100%;
                width: auto;
                max-width: 100%;
                margin: 0 auto;
            }
        }
        .bottom {
            display: block;
        }
        .title {
            display: block;
            text-align: center;
            font-size: 14px;
            text-decoration: none;
            color: #000;
            padding-bottom: 10px;
        }
    }
    ul.country_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
        .flag {
            font-size: 12px;
        }
        li {
            color: #8d8d8d;
            margin-bottom: 0;
            padding: 0;
            &:after {
                content: ',';
                display: inline-block;
                padding: 0;
                padding-right: 5px;
            }
        }
        li:last-child {
            margin-top: 4px;
            &:after {
                content: '';
                display: inline-block;
                padding: 0;
                padding-right: 0px;
            }
        }
    }
}
.active_sort {
    font-weight: bold;
    span {
        background-color: #000 !important;
    }
}
//фильтр брендов
.filter {
    border: 1px solid #e5e5e5;
    border-bottom: none;
    background-color: #fff;
    .brand_section {
        padding: 0 20px;
        border-bottom: 1px solid #e6e6e6;
        .tab_title {
            padding: 20px 0;
            span {
                font-weight: bold;
                color: #000;
                font-size: 16px;
            }
        }
        .tab_content {
            .list {
                margin-bottom: 18px;
            }
            .dropdown {
                margin-bottom: 0;
            }
            .dropdown_list {
                display: none;
            }
            .button_more {
                padding: 8px 0px;
                cursor: pointer;
                width: 110px;
                text-align: center;
                white-space: nowrap;
                margin: 0;
                margin-bottom: 20px;
                margin-top: 15px;
                font-size: 100%;
            }
            li {
                margin-bottom: 4px;
            }
            span {
                text-decoration: none !important;
                margin-right: 0.2em;
            }
            a {
                color: #585858;
            }
        }
    }
}

.text_block {
    .block_content {
        display: flex;
        overflow: hidden;
        height: 72px;
        position: relative;
    }
    .block_content:after {
        content: "";
        width: 100%;
        height: 43px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(250, 250, 250, 0.01) 0%, rgba(250, 250, 250, 0.17) 21%, rgba(250, 250, 250, 0.83) 79%, rgba(250, 250, 250, 0.99) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#03ffffff', endColorstr='#fcffffff', GradientType=0);
        opacity: 1;
        visibility: visible;
        transition: opacity .3s, visibility .3s;
    }

    .block_content.open:after {
        visibility: hidden;
        opacity: 0;
    }
    .title_list {
        font-size: 16px;
        font-weight: bold;
        color: #1e0602;
        padding-right: 30px;
        white-space: nowrap;
    }
    .txt {
        width: 100%;
        padding-top: 3px;
        color: #1e0602;
        font-size: 14px;
        line-height: 140%;
    }
    .button_more {
        margin-top: 15px;
    }
}

@media all and (min-width: 1025px) {
    .more_cards_btn:hover {
        background-color: #7eb8d2;
        border-color: #7eb8d2;
    }
    .brand_country a:hover,
    .filter .tab_content a:hover,
    .sort-line ul.link_list a:hover,
    .brand_list_container li a:hover {
        color: #197ac4 !important;
        text-decoration: underline;
    }
}



@media all and (min-width: 1025px) {
    .cards_v .link_container a:hover {
        box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.2);
    }
    .catalog .catalog-page .more_cards_btn:hover {
        background-color: #7eb8d2;
        border-color: #7eb8d2;
    }
    .popular_categories_block .section .tab_content a:hover {
        color: #197ac4;
        text-decoration: underline;
    }
}



@media all and (max-width: 1180px) {
    .catalog .catalog-page .catalog-cards .card_content .description_section .links_block {
        padding: 0 10px;
    }
    .catalog .catalog-page .catalog-cards .card_content .description_section .links_block a {
        flex-grow: 1;
        padding: 10px;
        margin: 0 5px;
        justify-content: center;
        height: auto;
    }
    .catalog .catalog-page .catalog-cards .card_content .description_section .description_list {
        padding-bottom: 55px;
    }
    .catalog .catalog-page .catalog-cards .card_content .description_section .links_block span {
        display: none;
    }
    .catalog .catalog-page .catalog-cards .card_content .description_section .links_block a i {
        font-size: 18px;
    }
    .catalog .current-categories .category-block .block-content .item {
        width: 20%;
    }
}

@media all and (max-width: 1124px) {
    .catalog .catalog-page .catalog-cards .card_content .bottom_section .left_item .current_price {
        font-size: 1.5em;
    }
    .catalog .catalog-page .catalog-cards .card_content .bottom_section .left_item .old_price {
        margin-bottom: -4px;
        padding-top: 0.2em;
    }
}

@media all and (max-width: 992px) {
    .left-sidebar {
        margin-bottom: 30px;
        display: none;
    }
    .filter {
        display: flex;
        border-bottom: 1px solid #e6e6e6;
    }
    .filter .brand_section {
        width: 33.33%;
        border-right: 1px solid #e6e6e6;
        border-bottom: none;
        &:last-child {
            border: none;
        }
    }
    .current_category {
        display: block;
        text-align: center;
        color: #000;
        margin: 20px 0;
    }
    .sort-line {
        margin-bottom: 20px;
    }
    .single_v li {
        width: 25%;
    }
    .brand_country .all_collections_content li {
        width: 20%;
    }
    .filter_show_btn {
        display: block;
    }
    .banner_block {
        display: block;
    }
    .block_more_info {
        display: block;
    }
    .block_popular {
        display: none;
    }
    .popular_cat_block {
        margin-bottom: 40px;
    }
    .popular_cat_block ul li {
        width: 20%;
        padding: 0 20px;
    }
    .popular_cat_block ul li:last-child {
        display: none;
    }
    .watch-more-block {
        display: none;
    }
    .slider_sidebar,
    .popular_categories_block {
        display: none;
    }
    .selected_par_block {
        display: block;
    }
}

@media all and (max-width: 768px) {
    .sort-line .sort-line-content {
        display: none;
    }
    .mobile_sort {
        display: block;
    }
    .catalog .current-categories .category-block .block-content-bottom ul.bottom_categories li,
    .catalog .current-categories .category-block .block-content .item {
        width: 25%;
    }
    .catalog .catalog-page .number_page {
        display: block;
    }
    .bottom_line {
        margin-bottom: 10px;
    }
    .popular_cat_block {
        display: none;
    }
}

@media all and (max-width: 650px) {
    .single_v li,
    .brand_country .all_collections_content li {
        width: 33.33%;
    }
}

@media all and (max-width: 567px) {
    .filter {
        display: block;
    }
    .text_block {
        margin-top: 30px;
    }
    .filter .brand_section {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #e6e6e6;
    }
    .filter_show_btn {
        margin-bottom: 20px;
    }
    .single_v li {
        width: 50%;
    }
    .brand_country {
        display: none;
    }
    .text_block .title_list {
        display: none;
    }
    .brand_list_container {
        column-count: 1;
    }
    .catalog .catalog-page .page_number {
        display: block;
        padding-bottom: 20px;
    }
    .current-categories .content-categories,
    .with_box,
    .popular_cat_block,
    .bottom_line,
    .banner_block {
        display: none;
    }
    .block_more_info {
        padding-bottom: 0;
        margin-top: 0;
    }
    .selected_par_block .selected_list {
        flex-direction: column;
        padding-bottom: 10px;
    }
    .selected_par_block .title {
        display: block;
        margin-bottom: 10px;
    }
    .selected_par_block {
        margin-bottom: 0;
    }
    .selected_par_block .selected_list li {
        width: 100%;
    }
    .selected_par_block .selected_list li .wrap {
        margin: 2px 0;
        padding-right: 10px;
    }
    .card_banner_box {
        display: none;
    }
    .catalog .catalog-page .catalog-cards .card_content .bottom_section .right_item {
        display: flex;
    }
    .catalog .current-categories .mobile_cat_list {
        display: block;
    }
    .left-sidebar {
        margin-bottom: 20px !important;
    }
}