$main-color: #197ac4;
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#modal-popup-desc {
    .modal_heading  {
        background-color: #fafafa;
    }
    .nano-content {
        padding: 0 20px;
        p {
            line-height: 180%;
        }
    }
}

.description[data-balloon]:after {
    min-width: 180px;
    white-space: normal;
}

// banner top
.card_banner_box {
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar_banner {
    margin: 27px 0;
    a {
        display: block;
        width: 100%;
        img {
            width: 100%;
        }
    }
}

.selected_par_block {
    border: 1px solid #e6e6e6;
    margin: 0 10px;
    margin-bottom: 30px;
    width: 100%;
    padding: 10px 0;
    padding-top: 20px;
    display: none;
    .title {
        margin-left: 20px;
        color: #585858;
    }
    .content {
        display: flex;
        flex-flow: row wrap;
    }
    .selected_list {
        display: flex;
        flex-flow: row wrap;
        list-style-type: disc;
        width: 100%;
        padding-left: 37px;
        li {
            padding-right: 0.2em;
            color: #585858;
            width: 25%;
            .wrap {
                display: flex;
                flex-flow: row wrap;
                margin: 10px 0;
                margin-right: 25px;
                span {
                    padding-right: 0.2em;
                }
            }
        }
    }
}

.popular_categories_block {
    border: 1px solid #e6e6e6;
    border-bottom: none;
    margin-top: 15px;
    .section {
        padding: 0 20px;
        border-bottom: 1px solid #e6e6e6;
        .tab_title {
            padding: 20px 0;
            span {
                font-weight: bold;
                color: #928d8b;
                font-size: 1.1em;
            }
        }
        .tab_content {
            .list {
                margin-bottom: 18px;
            }
            .dropdown {
                margin-bottom: 0;
            }
            .dropdown_list {
                display: none;
            }
            .param_more {
                padding: 5px 0px;
                cursor: pointer;
                width: 110px;
                text-align: center;
                white-space: nowrap;
                margin-bottom: 20px;
                margin-top: 15px;
            }
            li {
                margin-bottom: 4px;
            }
            span {
                text-decoration: none !important;
                margin-right: 0.2em;
            }
            a {
                color: #838383;
            }
        }
    }
}

.slider_sidebar {
    overflow-x: hidden;
    .slick-list {
        margin: 0 -10px;
    }
    .item {
        padding: 0 10px;
    }
    .slick-dots {
        padding: 0;
        margin: 15px 0 0;
        list-style: none;
        font-size: 0;
        text-align: center;
    }

    .slick-dots li {
        font-size: 0;
        line-height: 0;
        display: inline-block;
        vertical-align: top;
        margin: 0 2px;
    }

    .slick-dots li.slick-active button {
        background-color: #b3b3b3;
    }

    .slick-dots button {
        border: 1px solid #b3b3b3;
        width: 10px;
        height: 10px;
        vertical-align: top;
        display: block;
        background: none;
        font-size: 0;
        padding: 0;
        cursor: pointer;
        border-radius: 5px;
    }
    .thumb_item {
        border: 1px solid #f8767e;
    }
    .thumb_item .name {
        margin-bottom: 0;
    }
    .thumb_item .sub {
        border-top: none;
        padding-top: 0;
    }
    .thumb_item .label {
        padding: 6px 10px;
        letter-spacing: 1px;
    }
}

.catalogue {
    .category-name {
        .title {
            color: #1e0602;
            font-size: 30px;
            margin-bottom: 20px;
            display: flex;
            flex: 1;
            align-items: center;
        }

        .title .button_back {
            -ms-flex-positive: 0;
            flex-grow: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            width: 30px;
            height: 30px;
            border-radius: 3px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            background-color: #fff;
            text-align: center;
            line-height: 28px;
            display: none;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: center;
            justify-content: center;
            margin-right: 18px;
        }

        @media all and (max-width: 567px) {
            .title .button_back {
                display: -ms-flexbox;
                display: flex;
            }
        }
        .title .button_back i {
            color: rgba(0, 0, 0, 0.4);
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;
        }
        .title_general {
            -ms-flex-positive: 1;
            flex-grow: 1;
            color: #1e0602;
            font-size: 30px;
            font-weight: normal;
            margin: 0;
        }

        @media all and (max-width: 567px) {
            .title_general {
                font-size: 14px;
                line-height: 1.4;
            }
        }
    }
    .current-categories {
        .category-block,
        .watch-more-block {
            .block-content,
            .block-content-bottom {
                border: 1px solid #e5e5e5;
                background: #fff;
            }
        }
        .mobile_cat_list {
            display: none;
            .cat_list {
                border: 1px solid #e5e5e5;
                border-bottom: none;
            }
            li {
                border-bottom: 1px solid #e5e5e5;
            }
            .item_inner a {
                padding-left: 30px;
            }
            .button {
                position: relative;
                display: block;
                color: #585858;
                padding: 13px 0;
                padding-left: 20px;
            }
            .button:after {
                right: 20px;
            color: #d5d5d5;
            font-size: 18px;
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            content: "\f054";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
            }
        }
        .category-block {
            .block-content {
                display: flex;
                flex-flow: row wrap;
                padding: 0 10px;
                padding-top: 25px;
                .item {
                    width: 16.66%;
                    margin-bottom: 25px;
                    text-align: center;
                    .icon {
                        margin-bottom: 5px;
                        img {
                            opacity: 0.2;
                        }
                    }
                    a {
                        display: block;
                        margin: 0 10px;
                        &:hover {
                            img {
                                opacity: 0.7;
                            }
                            span {
                                color: $main-color;
                            }
                        }
                    }
                }
            }
            .block-content-bottom {
                padding: 0 10px;
                padding-top: 20px;
                margin-top: -1px;
                ul.bottom_categories {
                    display: flex;
                    flex-flow: row wrap;
                    li {
                        width: 16.66%;
                        margin-bottom: 20px;
                        display: flex;
                        justify-content: center;
                        a:hover {
                            color: $main-color;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .watch-more-block {
            .block-content {
                height: 100%;
                padding: 20px;
                p.watch-more-title {
                    font-weight: bold;
                    font-size: 1.2em;
                    color: #000;
                    margin: 0;
                    padding-bottom: 0.5em;
                }
                li {
                    padding: 0.25em 0;
                }
                a:hover {
                    color: $main-color;
                    text-decoration: underline;
                }
            }
        }
    }
    .sort-line {
        margin-bottom: 30px;
        position: relative;
        z-index: 2;
        .sort-line-content {
            border: 1px solid #e5e5e5;
            background: #fff;
            height: 50px;
            display: flex;
            align-items: center;
            .count,
            .sort-block,
            .delivery-count,
            .filter_block {
                display: flex;
                justify-content: center;
                align-items: center;
                border-right: 1px solid #e5e5e5;
                height: 100%;
                position: relative;
                a {
                    color: #8d8d8d;
                    &:hover {
                        color: #1d1d1d;
                    }
                }
                .selected_btn {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    padding: 0;
                    span {
                        margin-left: 0.2em;
                    }
                    &::after {
                        content: '';
                        width: 9px;
                        height: 8px;
                        margin-left: 4px;
                        margin-top: 1px;
                        background: url(../images/filter_arr.png) no-repeat center center;
                        background-size: contain;
                        transform: rotate(180deg);
                    }
                    display: none;
                    color: #000;
                }
                .sort_dropdown {
                    position: absolute;
                    top: 100%;
                    left: 0%;
                    min-width: 100px;
                    width: 100%;
                    padding: 5px 0;
                    margin: 2px 0 0;
                    font-size: 14px;
                    text-align: left;
                    list-style: none;
                    background-color: #fff;
                    background-clip: padding-box;
                    border: 1px solid rgba(0, 0, 0, 0.15);
                    border-radius: 4px;
                    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
                    color: #333;
                    transform: translateY(10px);
                    opacity: 0;
                    visibility: hidden;
                    transition: transform .3s, opacity .3s, visibility .3s;
                    a {
                        display: block;
                        margin: 10px 12px;
                    }
                }
                .open {
                    transform: translateY(0);
                    opacity: 1;
                    visibility: visible;
                }
                .left_w {
                    padding-right: 0.2em;
                }
            }
            .count {
                width: 24%;
                margin: px;
                color: #000;
            }
            .sort-block {
                width: 54%;
                a {
                    margin: 0 6px;
                }
            }
            .delivery-count {
                width: 22%;
                color: #000;
                border-right: none;
            }
            .active {
                font-weight: bold !important;
                color: #000 !important;
            }
        }
    }
    .catalog-page {
        margin-top: 30px;
        .catalog-cards {
            .card {
                margin-bottom: 20px;
            }
            .card_content {
                transition: box-shadow .3s;
                background: #fff;
                .top_section,
                .description_section,
                .bottom_section {
                    position: relative;
                    border: 1px solid #e5e5e5;
                    padding: 15px;
                }
                .top_section::before {
                    content: "";
                    display: block;
                    padding-top: 100%;
                }
                .img_block {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    img {
                        width: 100%;
                        height: 100%;
                        padding: 15px;
                    }
                    .video_block {
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                        a {
                            display: block;
                            width: 20px;
                            height: 18px;
                            background: url(../images/icons/video_icon.png) no-repeat;
                        }
                    }
                }
                .description_section {
                    margin-top: -1px;
                    position: relative;
                    .title_link {
                        color: #1e0602;
                        font-size: 14px;
                    }
                    .country_section {
                        margin-top: 10px;
                        margin-bottom: 6px;
                        span {
                            margin-right: 4px;
                            font-size: 12px;
                            white-space: nowrap;
                        }
                        .flag {
                            margin: 0;
                            img {
                                width: 15px;
                                height: 11px;
                            }
                        }
                    }
                    .description_list {
                        list-style-type: disc;
                        padding-left: 16px;
                        padding-bottom: 40px;
                        li {
                            padding: 2px 0;
                        }
                        span {
                            font-size: 12px;
                            line-height: 100%;
                        }
                    }
                    .links_block {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 15px;
                        width: 100%;
                        margin: 0 -15px;
                        padding: 0 15px;
                        position: absolute;
                        bottom: 15px;
                        a {
                            display: inline-block;
                            height: 32px;
                            width: 48%;
                            text-align: center;
                            padding-top: 6px;
                        }
                    }
                }
                .bottom_section {
                    margin-top: -1px;
                    display: flex;
                    justify-content: space-between;
                    .left_item {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .current_price {
                            font-weight: bold;
                            color: #1e0602;
                            line-height: 85%;
                            font-size: 1.7em;
                            text-transform: uppercase;
                            display: block;
                        }
                        .old_price {
                            font-size: 1.2em;
                            text-decoration: line-through;
                            margin-bottom: -2px;
                            .price {
                                padding-right: 0.3em;
                            }
                        }
                    }
                    .right_item {
                        width: 40%;
                        .links_block_mobile {
                            display: none;
                            a {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 40px;
                                height: 40px;
                                border: 1px solid #ccc;
                                border-radius: 4px;
                                margin-right: 5px;
                                color: #ccc;
                                i {
                                    font-size: 1.1em;
                                }
                            }
                        }
                        button {
                            cursor: pointer;
                            height: 40px;
                            width: 100%;
                            border: none;
                            background: #ffcc33;
                            border-radius: 4px;
                            transition: .3s;
                            img {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .number_page, .page_number {
            text-align: center;
            padding-bottom: 10px;
            color: #1e0602;
            display: none;
        }
        .more_cards_btn {
            cursor: pointer;
            width: 100%;
            border: none;
            background-color: #78a1b3;
            border-radius: 1px solid #95b5c3;
            height: 40px;
            margin: 10px 0;
            border-radius: 3px;
            color: #fff;
            transition: .3s;
            margin-bottom: 30px;
        }
    }
}

.with_box {
    margin-top: 45px;
    .box_title {
        margin-bottom: 5px;
    }
}

.bottom_line {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #e8e8e8;
    margin-top: 20px;
    margin-bottom: 40px;
}

.popular_cat_block {
    ul {
        display: flex;
        border: 1px solid #e6e6e6;
        background-color: #fff;
        width: 100%;
        padding: 40px 5px;
        li {
            width: 16.66%;
            padding: 0 35px;
        }
        .content_block {
            position: relative;
        }
        .content_block::before {
            content: "";
            display: block;
            padding-top: 90%;
        }
        a {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 0.5;
            transition: .3s;
            &:hover {
                opacity: 1;
            }
        }
        img {
            width: 100%;
        }
        p {
            text-align: center;
            margin: 0;
        }
    }
}

.banner_block {
    margin-top: 40px;
}

.block_popular, .block_more_info {
    margin-top: 20px;
    .title_list {
        p {
            font-size: 18px;
            font-weight: bold;
            margin: 0;
            margin-top: -0.2em;
            color: #010000;
        }
    }
    .item {
        display: block;
        width: 100%;
        a {
            white-space: normal;
        }
    }
}

.product_slider {
    margin-top: 10px;
}

.category_list:after {
    background: linear-gradient(to bottom, rgba(250, 250, 250, 0.01) 0%, rgba(250, 250, 250, 0.17) 21%, rgba(250, 250, 250, 0.83) 79%, rgba(250, 250, 250, 0.99) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03ffffff', endColorstr='#fcffffff', GradientType=0);
}

.block_more_info {
    display: none;
    font: 14px/1.3 "PT Sans", sans-serif;
    .button_more span {
        font: 14px/1.3 "PT Sans", sans-serif;
        font-size: 14px !important;
    }
    .button_more {
        padding: 12px;    }
    .category_list {
        padding: 0 10px;
    }
    p {
            font: 14px/1.3 "PT Sans", sans-serif;
            line-height: 150%;
            color: #1e0602;
        }
    .content {
        padding: 0 10px;
    }
}


@media all and (min-width: 1025px) {
    .catalogue .catalog-page .catalog-cards .card_content .bottom_section .right_item button:hover {
        background-color: #ffdd7d;
    }
    .catalogue .catalog-page .catalog-cards .card_content .description_section .title_link:hover {
        color: $main-color;
        text-decoration: underline;
    }
    .catalogue .catalog-page .catalog-cards .card_content:hover {
        box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.2);
    }
    .catalogue .catalog-page .more_cards_btn:hover {
        background-color: #7eb8d2;
        border-color: #7eb8d2;
    }
    .popular_categories_block .section .tab_content a:hover {
        color: #197ac4;
        text-decoration: underline;
    }
}



@media all and (max-width: 1180px) {
    .catalogue .catalog-page .catalog-cards .card_content .description_section .links_block {
        padding: 0 10px;
    }
    .catalogue .catalog-page .catalog-cards .card_content .description_section .links_block a {
        flex-grow: 1;
        padding: 10px;
        margin: 0 5px;
        justify-content: center;
        height: auto;
    }
    .catalogue .catalog-page .catalog-cards .card_content .description_section .description_list {
        padding-bottom: 55px;
    }
    .catalogue .catalog-page .catalog-cards .card_content .description_section .links_block span {
        display: none;
    }
    .catalogue .catalog-page .catalog-cards .card_content .description_section .links_block a i {
        font-size: 18px;
    }
    .catalogue .current-categories .category-block .block-content .item {
        width: 20%;
    }
}

@media all and (max-width: 1124px) {
    .catalogue .catalog-page .catalog-cards .card_content .bottom_section .left_item .current_price {
        font-size: 1.5em;
    }
    .catalogue .catalog-page .catalog-cards .card_content .bottom_section .left_item .old_price {
        margin-bottom: -4px;
        padding-top: 0.2em;
    }
}

@media all and (max-width: 992px) {
    [data-balloon][data-balloon-pos='right']:after,
    [data-balloon][data-balloon-pos='right']:before {
        display: none;
    }
    .banner_block {
        display: block;
    }
    .block_more_info {
        display: block;
    }
    .block_popular {
        display: none;
    }
    .popular_cat_block {
        margin-bottom: 40px;
    }
    .popular_cat_block ul li {
        width: 20%;
        padding: 0 20px;
    }
    .popular_cat_block ul li:last-child {
        display: none;
    }
    .watch-more-block {
        display: none;
    }
    .sidebar_banner,
    .slider_sidebar,
    .popular_categories_block {
        display: none;
    }
    .catalogue .catalog-page .catalog-cards .card_content .bottom_section .right_item {
        width: auto;
    }
    .catalogue .catalog-cards .description_list li:nth-child(6),
    .catalogue .catalog-cards .description_list li:nth-child(7) {
        display: none;
    }
    .selected_par_block {
        display: block;
    }
    .catalogue .catalog-page .right_item button .txt {
        display: none;
    }
    .catalogue .catalog-page .catalog-cards .card_content .bottom_section .right_item button img {
        display: block;
        margin-right: 1px;
    }
    .catalogue .catalog-page .catalog-cards .card_content .bottom_section .right_item button {
        width: 40px;
    }
    .catalogue .catalog-page .catalog-cards .card_content .bottom_section button {
        display: flex;
        justify-content: center;
    }
    .catalogue .sort-line .sort-line-content .desc,
    .catalogue .sort-line .sort-line-content .delivery-count .left_w {
        display: none;
    }
    .catalogue .sort-line .sort-line-content .selected_btn {
        display: flex !important;
    }
    .catalogue .sort-line .sort-line-content .sort-block,
    .catalogue .sort-line .sort-line-content .delivery-count,
    .catalogue .sort-line .sort-line-content .count {
        width: 33.33%;
    }
}

@media all and (max-width: 768px) {
    .catalogue .current-categories .category-block .block-content-bottom ul.bottom_categories li,
    .catalogue .current-categories .category-block .block-content .item {
        width: 25%;
    }
    .catalogue .catalog-page .number_page {
        display: block;
    }
    .bottom_line {
        margin-bottom: 10px;
    }
    .popular_cat_block {
        display: none;
    }
}

@media all and (max-width: 567px) {
    .catalogue .catalog-page .page_number {
        display: block;
        padding-bottom: 20px;
    }
    .catalogue .current-categories .content-categories,
    .with_box,
    .popular_cat_block,
    .bottom_line,
    .product_slider,
    .banner_block {
        display: none;
    }
    .block_more_info {
        padding-bottom: 0;
        margin-top: 0;
    }
    .selected_par_block .selected_list {
        flex-direction: column;
        padding-bottom: 10px;
    }
    .selected_par_block .title {
        display: block;
        margin-bottom: 10px;
    }
    .selected_par_block {
        margin-bottom: 0;
    }
    .selected_par_block .selected_list li {
        width: 100%;
    }
    .selected_par_block .selected_list li .wrap {
        margin: 2px 0;
        padding-right: 10px;
    }
    .card_banner_box,
    .catalogue .catalog-page .catalog-cards .card_content .description_section .links_block,
    .catalogue .sort-line .sort-line-content .count {
        display: none;
    }
    .catalogue .catalog-page .catalog-cards .card_content .description_section .description_list {
        padding-bottom: 0;
    }
    .catalogue .catalog-cards .description_list li:nth-child(2),
    .catalogue .catalog-cards .description_list li:nth-child(3),
    .catalogue .catalog-cards .description_list li:nth-child(4),
    .catalogue .catalog-cards .description_list li:nth-child(5) {
        display: none;
    }
    .catalogue .catalog-page .catalog-cards .card_content .bottom_section .right_item {
        display: flex;
    }
    .catalogue .sort-line .sort-line-content .sort-block {
        width: 60%;
    }
    .catalogue .sort-line .sort-line-content .delivery-count {
        width: 40%;
    }
    .catalogue .catalog-page .catalog-cards .card_content .bottom_section .right_item .links_block_mobile {
        display: flex;
    }
    .catalogue .sort-line {
        margin: 20px 0;
    }
    .filter_show_btn {
        margin-bottom: 20px !important;
    }
    .catalogue .current-categories .mobile_cat_list {
        display: block;
    }
    .catalogue .catalog-page {
        margin-top: 20px;
    }
    .left-sidebar {
        margin-bottom: 20px !important;
    }
}